@media screen and (max-width: 900px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .button {
        font-size: 12px;
        margin-top: 5px;
        width: 300px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .description {
        font-size: 15px;
        padding: px;
        margin-right: px;

    }

    .title {
        font-size: 35px;
    }

    .modal-body {
            background-color: rgba(0, 0, 0, 0.822);
            position: absolute;
            top: 100px;
            left: 5px;
            bottom: 0%;
            width: 0%;
            height: 0%;
    }
}


@media screen and (min-width:1000px;) {
    .descrição {
        width: 50%;
    }
}

